body {
    background-color: burlywood;
}

#blocktitrepanier {
    font-family: serif;
    font-style: italic;
    font-weight: bold;
    font-style: italic;
    color: white;
}

.prix {
    color: red;
}

.case-moins {
    width: 60px;
    height: 30px;
    background-color: orange;
}

.case-plus {
    width: 60px;
    height: 30px;
    background-color: orange;
}

h5 {
    font-family: 'Times New Roman', Times, serif;
    font: 1em sans-serif;
    font-size: larger;
}

.icone {
    color: brown;
    margin-top: 20px;
    margin-left: 20px;
}

.img {
    width: 100px;
    height: 200px;
}

.blockimage img {
    width: 500px;
    height: 500px;
}

.case {
    width: 35px;
    height: 30px;
    ;
}

.prixtotal {
    width: 155px;
    height: 30px;
}